.hidden {
  display: none!important;
}

body {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#header-intro {
  font-weight: bold;
}
#loader-overlay {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 5001;
}
#loader-overlay.active {
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
}

#loader-overlay .fa {
  font-size: 55px;
}

#score-row {
  margin-bottom: 10px;
}
@media(min-width: 992px) {
  #score-row {
    margin-bottom: 20px;
  }
}

#score-row .card-header,
#about-row .card-header {
  font-size: 18px;
}

#score-row .card-header {
  display: flex; 
  justify-content: space-between;
}

#btn-clear-stat {
  font-size: 10px;
}

#about-row {
  margin-bottom: 60px;
}
#landingSection {
  /*margin-top: 40px;*/
  margin-top: 10px;
}

#won-total, #games-total {
  padding-left: 10px;
}

.book-keeping {
  background-color: green;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #dff0d8;
  color: #3c763d;
  text-transform: uppercase;
  border:1px solid #d0e9c6;
  justify-content: space-between;
}

.character-profile {
    width: 300px;
    max-width: 100%;
    height: 250px;
    margin: 0 auto;
    background-repeat: no-repeat;    
}

.character .card-title {
  font-family: 'Reenie Beanie', cursive;
  margin-bottom: 0;
}

.card.character {
  margin-bottom: 10px;
}
@media(min-width: 992px) {
  .card.character {
    margin-bottom: 20px;
  }
}

.char-data {
  padding-left: 30px;
}

.intro-row {
  margin-bottom: 10px;
}

span.badge .fa {
	font-size: 20px;
}
.skill-brief {
	font-weight: bold;
}
.start-game-btn {
	width: 100%;
	margin-top: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
}
#lar-avatar.avatar, .avatar.lar {
  background-image: url(../images/larry-mobile.jpg);
  background-position: -143px -99px;
}
#beth-avatar.avatar, .avatar.beth {
  background-image: url(../images/beth-mobile.jpg);
  background-position: -112px -99px;
}
#beth-avatar.avatar.happy-1 {
  background-position: -112px -99px;
}
#beth-avatar.avatar.happy-2 {
  background-position: -132px -532px;
}
#beth-avatar.avatar.happy-3 {
  background-position: -408px -524px;
}
#beth-avatar.avatar.sad-1 {
  background-position: -683px -531px
}
#beth-avatar.avatar.sad-2 {
  background-position: -380px -102px;
}
#beth-avatar.avatar.sad-3 {
  background-position: -681px -99px;
}
#lar-avatar.avatar.happy-1 {
  background-position: -143px -99px;
}
#lar-avatar.avatar.happy-2 {
  background-position: -130px -539px;
}
#lar-avatar.avatar.happy-3 {
  background-position: -413px -539px;
}
#lar-avatar.avatar.sad-1 {
  background-position: -656px -541px;
}
#lar-avatar.avatar.sad-2 {
  background-position: -411px -102px;
}
#lar-avatar.avatar.sad-3 {
  background-position: -670px -99px;
}

/*http://leaverou.github.io/bubbly/*/
.speech-bubble {
  position: relative;
  background: #eceeef;
  border-radius: .4em;
  margin-left: 10px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #eceeef;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}
.heart-bar {
  color: red;
  font-size: 20px;
}
#heart-6, #heart-7 {
  color: #FFD700;
}
.hangman-main {
  min-height: 180px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tips-alert {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  padding: .75rem 1.25rem 0;
  width: 100%;
  background-color: rgba(252, 248, 227, 0.5);
}
.hangman-main .dash{
  display: inline-block;
  font-size: 25px;
  padding: 3px;
}
.hangman-main .dash::before {
  font-family: "FontAwesome";
  content: "\f1b0";
}
.hangman-main .dash.lar::before {
  font-family: "FontAwesome";
  content: "\f155"; 
}
.hangman-main .dash.reveal::before {
  font-family: "FontAwesome";
  content: "";
}

.keyboard {
  margin-bottom: 15px;
}

.keyboard .col-3 {
  padding-left:10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.keyboard .btn-info{
  width: 100%;
}
.keyboard .btn-info:disabled {
  background-color: #D3D3D3;
}
.skill {
  padding-left: 10px;
  padding-right: 10px;
}
.skill .fa {
  font-size: 30px;
}
.skill .info {
  margin-top: 5px;
  display: block;
  font-size: 12px;
}
.skill-explain {
  text-align: center;
}
.skill .btn {
  width: 100%;
}
#endGameModal .ending-picture {
  min-height: 350px;
  height: 100px;
  width: 335px;
  max-width: 100%;
  margin: 0 auto;
}
#endGameModal .ending-picture.lar {
  background-image: url(../images/larry-mobile.jpg);
    width: 250px;
    background-position: -581px -50px;
}
#endGameModal .ending-picture.beth {
  background-image: url(../images/beth-mobile.jpg);
  background-position: -550px -50px;
}
#endGameModal .ending-picture.lar.won {
  background-position: -50px -502px;
}
#endGameModal .ending-picture.beth.won {
  background-position: -8px -502px;
}
#endGameModal .ending-speech {
  position: relative;
  background: #00b8cb;
  border-radius: .4em;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}
#endGameModal .ending-speech:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #00b8cb;
  border-top: 0;
  border-left: 0;
  margin-left: -10px;
  margin-top: -20px;
}

.footer {
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;

  text-align: center;
  font-size: 12px;
}
